.page_layout {
    overflow-x: hidden;
    margin-left: 250px;
    margin-top: 10px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: -1;
}

.page_layout_toggle {
    overflow-x: hidden;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: -1;
}

.HomePageTablue {
    display: flex;
    justify-content: center;
    align-items: center;
}


.home_navigate {
    cursor: pointer;
}

.home_navigate:hover {
    color: #d6d3d3;
}

.side_icons_style {
    color: #ffff;
}

.side_icons_style:hover {
    color: #0000ff;
}

.hover_name {
    padding: 12px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}